<div class="container-fluid page">
    <div class="page_box p-3 mt-3 "> {{ image.caption }} </div>
    <!-- <div class="page_content shadow p-3 position-relative"> -->
        <!-- <div class="page_content-data position-absolute"> -->

<!-- <div class="row"> -->
    <div class="col-md-5">
        <div [ngStyle]="{'background-image' :'url('+image.url +')'}" class="img-container"></div>
    </div>
<!-- </div> -->
<!-- <div class="row">
    <div class="col-md-12 caption-raw">
        <span id="caption">
            {{ image.caption }}
        </span>
    </div>
</div> -->
        </div>
    <!-- </div> -->
<!-- </div> -->