<mat-nav-list>
    <div class="logo">
           <img src="../../assets/logo1.PNG" alt="Company Logo">  
     </div>
    <mat-divider></mat-divider>
    <h2 matsubheader class="mt-2">Application</h2>
    <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
        <mat-icon> home </mat-icon> Home
    </a>
   <a mat-list-item routerLink="/login" routerLinkActive="list-item-active">
        <mat-icon> dashboard </mat-icon> Dashboard
    </a> 
    <a mat-list-item routerLink="/gallary" routerLinkActive="list-item-active">
        <mat-icon> collections </mat-icon> Gallary
    </a>
    
</mat-nav-list>
    


